*, *::after, *::before {
  box-sizing: border-box;
}
html {
  background-color: white;
  align-items: center;
  display: flex;
  font: 22px "Roboto Mono", Courier, monospace;
  height: 100%;
  height: 100%;
  justify-content: center;
  margin: 0;
}
body {
  display: flex;
  margin: 1em;
  padding: 1em;
}
main {
  margin: 0 1em;
  min-width: 24em;
}
main ul {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
main li:first-child {
  font-weight: bold;
  line-height: 2em;
}
img {
  border: 2px solid #313131;
  height: 12em;
  object-fit: cover;
  object-position: 50% 100%;
  width: 8em;
}
 input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #313131;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

 input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #4f4f4f;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

button{
	width: 260px;
	height: 35px;
	background: #4f4f4f;
	border: 1px solid #4f4f4f;
	cursor: pointer;
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

button:hover{
	opacity: 0.8;
}

button:active{
	opacity: 0.6;
}

 input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

 input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

 input[type=button]:focus{
	outline: none;
}

    *:focus {
      outline: none;
    }

