body {
  overflow-x: hidden;
}
.block {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.block > h3 {
  width: 100%;
}
.block > div {
  width: 600px;
  height: 200px;
  margin-top: 10px;
  box-shadow: 0 0 5px black;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.block > div > input {
  pointer-events: unset !important;
  position: unset !important;
  opacity: 1 !important;
  margin: 15px;
  width: 50px;
  height: 50px;
}
.block > div > label {
  font-size: 30px;
  color: black;
}
.bottom_submit {
  width: 100vw;
  height: 100px;
  font-size: 60px;
  background-color: #3f51b5;
  text-align: center;
  color: white;
  letter-spacing: 10px;
  transition: all 0.3s ease-in-out;
}
.bottom_submit:hover {
  letter-spacing: 20px;
}
.block > h3 {
  padding: 20px;
}
.block > h3:nth-of-type(1) {
  padding-top: 60px;
}
.hidden {
  display: none;
}
.pushpin-nav {
  padding-left: 40px;
  font-weight: bold;
  letter-spacing: 5px;
  width: 100vw;
  font-size: 30px;
  color: black;
}
