*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  background-color: white;
  display: flex;
  font: 18px "Roboto Mono", Courier, monospace;
  height: 100%;
  height: 100%;
  justify-content: center;
  margin: 0;
}
h1 {
  padding-left: 16px;
}
body {
  margin: 1em;
  padding: 0.3em;
}
label {
  padding-left: 3px;
}
.flexbox {
  display: flex;
  width: 60vw;
  justify-content: space-around;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  box-shadow: 0 0 2px black;
  height: 500px;
  margin-right: 100px;
  object-fit: cover;
  object-position: 50% 100%;
  width: 500px;
}
input {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(230, 230, 230, 0.6);
  border-radius: 2px;
  color: #313131;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}
input::placeholder {
  opacity: 0.8;
}
button {
  width: 260px;
  height: 35px;
  background: #4f4f4f;
  border: 1px solid #4f4f4f;
  cursor: pointer;
  border-radius: 2px;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
  letter-spacing: 3px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

input:focus {
  outline: none;
}

*:focus {
  outline: none;
}
